# REST API

### 1. Http Get 

### Use case 
* Get data from a service
* Trigger an action

```python 
import requests

# http get on endpoint.com/data
response = requests.get("endpoint.com/data")

# Information about response object
response.status_code
response.headers
response.content
json = response.json()

# Extract dataFrame from json object
pd.DataFrame.from_dict(my_json)
```

#### [requests API documentation](https://2.python-requests.org/)

In [1]:
import requests
host = "https://reqres.in"
path = "/api/users"
r = requests.get(host+path)

In [49]:
print(r.status_code)
print(r.headers)
print(r.text)
r.json()

200
{'Date': 'Thu, 23 May 2019 06:36:06 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Set-Cookie': '__cfduid=d9bb3bebcc05bc2f92cefcec096a557711558593366; expires=Fri, 22-May-20 06:36:06 GMT; path=/; domain=.reqres.in; HttpOnly; Secure', 'X-Powered-By': 'Express', 'Access-Control-Allow-Origin': '*', 'Etag': 'W/"21b-fFOA+z2p0qqZtiTcYG5d6jtK5Cs"', 'Via': '1.1 vegur', 'CF-Cache-Status': 'HIT', 'Expires': 'Thu, 23 May 2019 10:36:06 GMT', 'Cache-Control': 'public, max-age=14400', 'Expect-CT': 'max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"', 'Vary': 'Accept-Encoding', 'Server': 'cloudflare', 'CF-RAY': '4db5037b1885b7c9-CDG', 'Content-Encoding': 'gzip'}
{"page":1,"per_page":3,"total":12,"total_pages":4,"data":[{"id":1,"email":"george.bluth@reqres.in","first_name":"George","last_name":"Bluth","avatar":"https://s3.amazonaws.com/uifaces/faces/twitter/calebogden/128.jpg"},{"id":2,"email":"janet.weaver@reqres.in","first_name":"Janet","last_name":"Weaver","avatar":"https://s3.amazonaws.com/uifaces/faces/twitter/josephstein/128.jpg"},{"id":3,"email":"emma.wong@reqres.in","first_name":"Emma","last_name":"Wong","avatar":"https://s3.amazonaws.com/uifaces/faces/twitter/olegpogodaev/128.jpg"}]}

{'page': 1,
 'per_page': 3,
 'total': 12,
 'total_pages': 4,
 'data': [{'id': 1,
   'email': 'george.bluth@reqres.in',
   'first_name': 'George',
   'last_name': 'Bluth',
   'avatar': 'https://s3.amazonaws.com/uifaces/faces/twitter/calebogden/128.jpg'},
  {'id': 2,
   'email': 'janet.weaver@reqres.in',
   'first_name': 'Janet',
   'last_name': 'Weaver',
   'avatar': 'https://s3.amazonaws.com/uifaces/faces/twitter/josephstein/128.jpg'},
  {'id': 3,
   'email': 'emma.wong@reqres.in',
   'first_name': 'Emma',
   'last_name': 'Wong',
   'avatar': 'https://s3.amazonaws.com/uifaces/faces/twitter/olegpogodaev/128.jpg'}]}

In [50]:
data = r.json()['data']
pd.DataFrame.from_dict(data)

,avatar,email,first_name,id,last_name
0,https://s3.amazonaws.com/uifaces/faces/twitter...,george.bluth@reqres.in,George,1,Bluth
1,https://s3.amazonaws.com/uifaces/faces/twitter...,janet.weaver@reqres.in,Janet,2,Weaver
2,https://s3.amazonaws.com/uifaces/faces/twitter...,emma.wong@reqres.in,Emma,3,Wong

### 2. Http Post 


#### Use cases:
* Insert data to a database
* Send a lot of data
* login 

```python
payload = {'key1': 'value1', 'key2': 'value2'}
r = requests.post("endpoint.com/test", data=payload)
print(r.text)
```

In [55]:
body = {
    "name": "morpheus",
    "job": "leader"
}

r = requests.post("https://reqres.in/api/users", data=body)
r.json()

{'name': 'morpheus',
 'job': 'leader',
 'id': '415',
 'createdAt': '2019-05-23T07:14:26.799Z'}

In [66]:
pd.DataFrame([r.json()])

                  createdAt   id     job      name
0  2019-05-23T07:14:26.799Z  415  leader  morpheus

### 3. Add flights

In [70]:
json.load('{\n\t"ok" : "ouii",\n\t"aaaa", "ooooo"\n\n}')

AttributeError: 'str' object has no attribute 'read'